<app-toast></app-toast>
<app-toast-g></app-toast-g>
<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div>
          <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">Hello {{user.firstname}} {{user.lastname}}</h2>
          <p class="mt-2 text-gray-600 dark:text-gray-300">Find Contacts And Send Them Invites</p>
    </div>
    <div class="mt-8">
        <form class="flex items-center max-w-sm">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                    </svg>
                </div>
                <input type="text" id="simple-search" name="searchTerm" [(ngModel)]="searchTerm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Contact Username/Email..." required />
            </div>
        </form>
    </div>
 </div>
 <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-1">
    
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700" *ngIf="contacts">
    <li class="pb-3 sm:pb-4" *ngFor="let contact of (contacts | filter: searchTerm)">
       <div class="flex items-center space-x-4 rtl:space-x-reverse mt-2">
          <div class="flex-shrink-0">
             <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="Profile">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                {{contact.firstname}} {{contact.lastname}}
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{contact.email}}
             </p>
            </div>
            <div class="ml-8 inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button (click)="sendInvite(contact.id)" class="text-green-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-16 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    Invite
                </button>
            </div>
       </div>
    </li>
 </ul>
 
 </div>